body {
    margin: 0;
}

#main {
    background: beige;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

#title {
    background: rgb(226, 226, 202);
    text-align: center;
    padding: 20px;
}

#img-div {
    position: relative;
    overflow: hidden;
    margin: 20px auto;
    max-width: 700px;
    height: 525px;
}

@media only screen and (max-width: 700px) {
    #img-div {
        max-width: 400px;
        height: 360px;
    }

    #image {
        right: 10px;
        top: -100px;
    }
}

@media only screen and (max-width: 400px) {
    #img-div {
        max-width: 300px;
        height: 360px;
    }

    #image {
        right: -50px;
        top: -100px;
    }
}
  
#image {
    position: absolute;
    display: block;
    top: -160px;
    right: -35px;
}

#img-caption {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background: beige;
    padding: 15px 0px;
}

#tribute-info {
    background: rgb(226, 226, 202);
    line-height: 45px;
    margin: 0px auto;
    max-width: 800px;
    padding: 20px 0px; 
}

.info-text {
    text-align: center;
    text-decoration: wavy;
}

.year-text {
    font-weight: bold;
}

.quote {
    text-align: center;
    text-decoration: wavy;
    font-size: medium;
    padding: 20px;
}

#last-note {
    /* font-weight: large; */
    padding: 20px;
    text-align: center;
}